.gradle/
.gradle-user/
build/
run/
/run-data/
/mcmodsrepo/
out/
bin/

.classpath
.project
.settings/
.idea/
*.iml
*.launch
.vscode/
.fleet/
/eclipse/
.metadata/
.factorypath
.apt_generated/
.externalToolBuilders/

*.log
hs_err_pid*
replay_pid*
*.hprof

crash-reports/
logs/
saves/

._*
.DS_Store
Thumbs.db
desktop.ini

.env
.env.*
!.env.example
*.local
